*{margin: 0;
    padding: 0;
    }

.search_container{
    display: flex;
    height: 2.4em;
    width: 10em;
    padding-left: 5em;
    padding-right: 5em;
    justify-content:space-between ;
}

.search_bar{
    padding: 10px;
    position: relative;

}

.search_input{
    outline: none;
    box-sizing: border-box;
    height: 22px;
    width: 0;
    padding:0 10px;
    color: #000;
    border-radius: 50px;
    font-size: 18px;
    border: 1px solid #557fc3;
    transition: all .7s ease;
}
::placeholder{
    color: gray;
}

.search_btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 3.2em;
    height: 3.2em;
    background: #425fd1;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.search_btn_i{
    font-size: 25px;
    color: white;
    transition: all .7s ease;
    margin-top: 10px;
}

.search_bar:hover .search_input{
    width: 350px;
}

.search_bar:hover .search_btn_i{
    transform:rotate (-360deg);
}

.search_btn:hover{
    background: #609acd;
}


.holas{
    border-radius: 6px;
    width: 5em;
    height: 1.5em;
    font-size: 1.2em;
}

.search_filters{
    padding-top: 6px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apply-btn-s{
    margin-top: 2px;
    background-color: #358d49;
    border-radius: 5px;
    border: none;
    color: aliceblue;
    font-size: 16px;
}