*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

body{
    background-color: #eeeeee;
}


.item_container{
    background-color: #dedede;
    width: 85em;
    height: fit-content;
    border-radius: 8px;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 8em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 1em;
    padding: 2em 2em 2.6em 3.8em;
}

.card_row{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    padding-top: 1em;
}

.search-cont{
    padding-top: 3em ;
    display: flex;
    width: fit-content;
    padding-left: 52em;
}

