*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

body{
    background-color: #454444;
}


.item_container{
    background-color: #454444;
    width: 85em;
    height: fit-content;
    border-radius: 8px;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 8em;
}

.card_row{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    padding-top: 1em;
}