*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.item_card{
    height: 20em;
    width: 14em;
    background-color: #efc9c9;
    border-radius: 6px;
}

.item_card:hover{
    cursor: pointer;
    transform: scale(1.06);
    transition:  transform .5s;
}

.item_img{
    background-color: aliceblue;
    height: 14em;
    width: 12em;
    border-radius: 6px;
    margin: auto;
    top:  1em;
    top: 10px;
    position: relative;
}

.item_name{
    padding-top: 12px ;
    text-align: center;
}

.item_information{
    justify-content: space-around;
}

.item_info{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 0;
    justify-items: center;
}