*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.item_card{
    height: 24em;
    width: 18em;
    background-color: #404040;
    border-radius: 6px;
}

.item_card:hover{
    cursor: pointer;
    transform: scale(1.06);
    transition:  transform .5s;
}

.item_img{
    background-color: aliceblue;
    height: 18em;
    width: 16em;
    border-radius: 6px;
    margin: auto;
    top:  1em;
    position: relative;
}

.item_name{
    padding-top: 18px ;
    text-align: center;
    color: aliceblue;
    font-size: larger;
}

.item_info{
    font-size: 1.3em;
}

.item_information{
    justify-content: space-around;
   
}

.item_info{
    margin-top: 6px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 0;
    justify-items: center;
    color: aliceblue;
    padding-bottom: 5px;
}

.ubicacion{
    color: aliceblue;
}