
.nose{

    width: 80rem;
    margin: auto;
}

.navBar{
    width: auto;
    background-color: #5065de;
    display: flex;
    justify-content: space-between;
    height: 40px;   
    border-radius: 28px;
    margin-top: 3.8em;
}

.logo{
    margin-left: 30px;
    padding: 5px;
    color: azure;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.navBar-links{
    display: flex;
    width: 200px;
    color: rgb(229, 234, 238);
    font-size: 24px;
    text-decoration: none; 
    list-style-type: none;;
    justify-content:space-between;
    margin: 5px;
}

.navBar-links_link:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s;
    font-weight: 700;
}


.login-btn{
  background-color: #dfdfdf;
  border: none;
  color: #393939;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:  18px;
  width:16px;
}

.navBar .login-btn:hover{
    color: azure;
    background-color: #343941;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .3s;
}

.ubicacion{
    color: aliceblue;
}

.registeredUser{
    align-items: center;
    
}

.select-navb{
    background-color: #dfdfdf;
    border: none;
}

.session-btn{
  background-color: #dfdfdf;
  border: none;
  color: #393939;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:  18px;
  height: 40px;
}

.session-s{
    background-color: #dfdfdf;
    border-radius: 50%;
    padding: 0px 0px 5px;
}

.dropdown-btn {
    background-color: #dfdfdf;
    color: #393939;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 20px;

  }
  
   .dropdown-menu {
    position: relative;
    z-index: -1;
    display: none;
  } 
  
  .dropdown-menu li{
    list-style: none;
    cursor: pointer;

  }
  
  .dm-li {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
    z-index: 10000;
  } 
  
  .dropdown-btn:hover {
    background-color: #d5d5d5;
  }
  
  .dropdown-btn:focus {
    outline: none;
  }
  
  .dropdown-btn:focus + .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index:9999;
  }
  
