*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

.nose{

    width: 80rem;
    margin: auto;
}

.navBar{
    width: auto;
    background-color: #ad7fbe;
    display: flex;
    justify-content: space-between;
    height: 40px;   
    border-radius: 18px;
    margin-top: 3.8em;
}

.logo{
    margin-left: 30px;
    padding: 5px;
    color: azure;
}

.navBar-links{
    display: flex;
    width: 200px;
    color: rgb(229, 234, 238);
    font-size: 24px;
    text-decoration: none; 
    list-style-type: none;;
    justify-content:space-between;
    margin: 5px;
}

.navBar-links_link:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s;
    font-weight: 700;
}


.login-btn{
  background-color: #e5dddd;
  border: none;
  color: #3f3c3c;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:  18px;
}

.navBar .login-btn:hover{
    color: azure;
    background-color: #407cdb;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .3s;
}